.formularios{
  background-color: #082d77;
  padding: 30px;
}

.articulosgeneral{
  float: left;
  width: 50%;
  padding: 50px;
}
.articulosjoyeria{
  float: left;
  width: 50%;
  padding: 10px;
}

.artgrl{
  color: #ffffff !important;
  font-size: 34px;
  font-weight: 500 !important;
  font-family: Open Sans;
}
.ddcg span{
  color: #ffffff;
}

.info input{
  border-radius: 10px;
}

.enviar input{
  border-radius: 4px;
}

.pgrl{
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
}
