.formularios{
  background-color: #082d77;
  padding: 30px;
}

.articulosgeneral{
  float: left;
  width: 50%;
  padding: 5%;
  border-right: 2px solid;
  border-color: #ffffff;
  background-color: #082d77;
}

@media screen and (max-width: 480px) {

  .articulosgeneral, .articulosjoyeria{
    width: calc(100% - 10%);
    border-right: 0px;
  }

  .artgrl, .artjoy{
    color: #ffffff !important;
    text-align: center;
    font-size: 14px;
    font-weight: 600 !important;
    font-family: Open Sans;
    border-radius: 30px;
    border: 2px solid;
    border-color: #fac42b;
    background-color: #fac42b;
    padding-left: 5px;
    text-shadow: 1px 1px 2px #000
  }

  .pgrl, .pjoy{
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-align: justify;
  }



}

@media screen and (max-width: 780px) {

  .articulosgeneral{
    width: calc(100% - 10%);
  }

  .artgrl{
    color: #ffffff !important;
    text-align: center;
    font-size: 20px;
    font-weight: 600 !important;
    font-family: Open Sans;
    border-radius: 30px;
    border: 2px solid;
    border-color: #fac42b;
    background-color: #fac42b;
    padding-left: 5px;
    text-shadow: 1px 1px 2px #000
  }

}

.articulosjoyeria{
  float: left;
  width: 50%;
  padding: 5%;
}

.artgrl{
  color: #ffffff !important;
  text-align: center;
  font-size: 34px;
  font-weight: 600 !important;
  font-family: Open Sans;
  border-radius: 30px;
  border: 2px solid;
  border-color: #fac42b;
  background-color: #fac42b;
  padding-left: 5px;
  text-shadow: 1px 1px 2px #000
}
.ddcg{
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.info{
  border-radius: 0.2rem;
  height: 30px;
  line-height: 20px;
  width: 70%
}

.enviar{
  border-radius: 4px;
}

.pgrl{
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
}
.lablg{
  color: #fac42b;
  font-size: 16px;
  font-weight: 400;
}

.divdin, .divart, .divtel, .divmail{
  float: left;
  width: 50%;
}
.divcar{
  float: left;
  width: auto;
}

.lineadiv{
  color: #fac42b;
  max-width: 250px;
  margin-left: 0;
}
