.formularios{
  background-color: #082d77;
  padding: 30px;
}

.articulosgeneral{
  float: left;
  width: 50%;
  padding: 80px;
  border-right: 2px solid;
  border-color: #ffffff;
}
.articulosjoyeria{
  float: left;
  width: 50%;
  padding: 80px;
}

.artgrl{
  color: #ffffff !important;
  text-align: center;
  font-size: 34px;
  font-weight: 600 !important;
  font-family: Open Sans;
  border-radius: 30px;
  border: 2px solid;
  border-color: #fac42b;
  background-color: #fac42b;
  padding-left: 5px;
  text-shadow: 1px 1px 2px #000
}
.ddcg{
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.info{
  border-radius: 0.2rem;
  height: 30px;
  line-height: 20px;
}

.enviar{
  border-radius: 4px;
}

.pgrl{
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
}
.lablg{
  color: #fac42b;
  font-size: 16px;
  font-weight: 400;
}

.divdin, .divart, .divtel, .divmail{
  float: left;
  width: 50%;
}
.divcar{
  float: left;
  width: auto;
}

.lineadiv{
  color: #fac42b;
  max-width: 250px;
  margin-left: 0;
}
